<html>
<head>
    <title>Routes</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap-dark.min.css">
    <link rel="stylesheet" href="/assets/css/l33t.css">
</head>
<body class="leet-theme bg-dark">
    <div class="container mt-4">
        <h1 class="text-center text-light">routes</h1>
        <ul class="list-group">
            {% for (name, route) in routes %}
            <li class="list-group-item">
                <a href="https://{{ route }}" class="text-light">{{ name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
