{% extends "base.html" %}

{% block title %}green{% endblock %}

{% block content %}
<h1 class="leet-h1">routes</h1>
<ul class="list-group">
    <li class="leet-list-item">
        <a href="/breaker" class="leet-link">breaker box</a>
        <div class="leet-description">Electrical circuit layout</div>
    </li>
    <li class="leet-list-item">
        <a href="/qr" class="leet-link">qr code</a>
        <div class="leet-description">Generate a QR code</div>
    </li>
    {% for (name, route) in routes %}
    <li class="leet-list-item">
        <a href="https://{{ route.url }}" class="leet-link">{{ name }}</a>
        <div class="leet-description">{{ route.description }}</div>
    </li>
    {% endfor %}
</ul>
{% endblock %}
